@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;600&family=Lobster&family=Red+Hat+Display&display=swap');


body{
    margin: 10px 20px;
    font-family: 'Josefin Sans';
}

textarea{
    margin-top: 12px;
    font-family: 'Red Hat Display';
}

textarea:focus {
    outline: none;
    border: none; 
    border-bottom: 2px solid #91e2db;
  }

  h1{
    margin: 0px;
  }

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.logo{
    width: 200px;
}

.icon{
    background-color: #c9c9c9;
}

.month-name{
    font-family: 'Lobster';
    font-weight: 600;
    color: #2C4A54;
}

.header-line{
    border-bottom: 1px solid #c9c9c9;
    margin: 5px 0px 15px 0px;
}

.day-column{
    box-sizing: border-box;
    width: 250px;
    text-align: center;
}

.weekday{
    font-weight: 600;
    font-size: 20px;
    color: #2C4A54;
}

.teste2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.months{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.new-task-btn {
  background-color: #e2f5f3;
  padding: 4px;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  width: 92%;
  margin-top: 12px;
  font-family: 'Josefin Sans';
  font-weight: 400;
  transition: background-color 0.3s ease;
}

.new-task-btn:hover{
    background-color: #91e2db;
}
